dl #memo{
	margin:0;
	padding:0;
	border:0;		
	
}

dl{
	margin:0;
	padding:0;
	border:0;		
	background:#252422;
	width:100%;
	
}
dt{
	line-height:35px;
	font-size:large;
	text-indent:3em;
	font-weight:bold;
	color:white;
	height:35px;
	background:url("../../jquery/Chapter03/03/images/background.jpg")
}
dt.over{
	background:url("../../jquery/Chapter03/03/images/background-over.jpg");
	cursor:pointer;
}
dt.selected{
	background:url("../../jquery/Chapter03/03/images/background_selected.jpg");
	cursor:default;
	color:black;
}
dd{
	margin:0;
	height:350px;
	background:#D4D0C8;
}
dd p{
	text-indent:1em;
	padding:20px;
}
div #first{
	width:880px;
	height:300px;
	background:#ffffff;
	display:none;
	
}
div #memo{
	width:880px;
	height:300px;
	background:#ffffff;
	display:none;
	
}

.shin table { 
	border-collapse: collapse;
	width: 100%;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}

.shin td {
	background-color: #f5f5f5; 
	text-align: center;
	border: 1px solid #CCCCCC;
	margin: 3px 4px 2px 4px;
	padding: 3px 4px 2px 8px;
	font-size: 1em;
	height: 25px;
}
.shin .th_ {
	text-align: center;
	border: 1px solid #CCCCCC;
	margin: 0px 0px 0px 0px;
	padding: 3px 4px 0px 8px;
	color: #333333;
	font-size: 1em;
	//height: 25px;
}