/* BASIC */
body {
	 FONT-SIZE: 9pt;
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	
}

h1, h2, h3, p, ul {
	padding: 0;
	margin: 0;
}

/* WRAPPER: wraps entire contents of page */
#wrapper{

 border: solid 1px black;
	/*width:1024px;*/
	width:100%;
	margin:0;

}






















