/* BASIC */
body {
	 FONT-SIZE: 9pt;
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	margin: 20px;
}

h1, h2, h3, p, ul {
	padding: 0;
	margin: 0;
}

/* WRAPPER: wraps entire contents of page */
#wrapper {
	border: solid 1px black;
	/*width:1024px;*/
	width:100%;
}
#wrapper2 {
	border: solid 1px black;
	width:900px;
}

/* BANNER */
#banner {
	/*background: url(../images/anniv_banner.png) no-repeat right top;*/
}
#banner ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#banner li {
	display: inline;
	margin-left: 0px;
}
#banner li a {
	color: #666666;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font: 1.1em "Trebuchet MS";
}
.seperator {
	border-right: 1px solid #666;
	padding-right:10px;
}

/* NAV BAR */

#mainNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: url(../images/bg_nav.png) repeat-x left top;
	float: left;
	border-bottom: 1px solid #000;
	width: 100%;
}

#mainNav li {
	float: left;
	padding: 0;
	margin: 0;
}

#mainNav li a, #mainNav li a:link {
	color: #FFFFFF;
	text-decoration: none;
	padding: .5em 1em;
	border-right: 1px solid #000;
	display: block;
	font: bold 1em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

#mainNav li a:hover {
	background: url(../images/bg_nav_h.png);
}
/*highlight "you are here" buttons*/
#rentCar #mainNav a#rentcarLink,
#valet #mainNav a#valerLink,
#hiauto #mainNav a#hiautoLink,
#dajoong #mainNav a#dajoongLink,
#chubb #mainNav a#chubbLink,
#dongbu #mainNav a#dongbuLink,
#dongbu2 #mainNav a#dongbuLink2,
#hyundai #mainNav a#hyundaiLink,
#hyundai2 #mainNav a#hyundaiLink2,
#intro #mainNav a#introLink,
#koima #mainNav a#koimaLink,
#lig #mainNav a#ligLink,
#qboard #mainNav a#qboardLink,
#ssangyong #mainNav a#ssangyongLink{
	background: url(../images/bg_nav_h.png);
}

/* IE 6 hack to make entire button clickable */
* html #mainNav a { width: 1px; }


/* MAIN CONTENT */

#main h1 {
	color: #663900;
	padding-top: 15px;
	margin-bottom: 10px;
	font: bold 2.3em Georgia, "Times New Roman", Times, serif;
}

#main h2 {
	font-size: 1.8em;
	font-weight: normal;
	border-bottom: 1px solid #106A9B;
	margin-bottom: 5px;
	color: #663900;
}

#main p {
	font-size: 1.4em;
	margin-bottom: 10px;
}

/* SIDEBAR */
#sidebar {
	background-color: #cccccc;
}
#leftmenu{
	list-style-type:none;

}
#leftmenu a{ 
	
	margin: 0;
   	color: #FFFFFF;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	font: bold 1em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	}
#leftmenu li a, #leftmenu li a:link {
	margin: 0;
	color: #FFFFFF;
	text-decoration: none;
	padding: .5em 1em;
	/*border-right: 1px solid #000;*/
	display: block;
	font: bold 1em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
#leftmenu li a:hover {
	background: url(../images/bg_nav_h.png);
	color: #FFFFFF;
	
}
/*highlight "you are here" buttons*/

#first #leftmenu a#firstLink,
#second #leftmenu a#secondLink,
#third #leftmenu a#thirdLink,
#fourth #leftmenu a#fourthLink,
#fifth #leftmenu a#fifthLink,
#sixth #leftmenu a#sixthLink,
#seventh #leftmenu a#seventhLink,
#eighth #leftmenu a#eighthLink,
#nineth #leftmenu a#ninethLink,
#tenth #leftmenu a#tenthLink,
#eleventh #leftmenu a#eleventhLink,
#tweleventh #leftmenu a#tweleventhLink,
#thirteenth #leftmenu a#thirteenthLink,
#fourteenth #leftmenu a#fourteenthLink,
#fifteenth #leftmenu a#fifteenthLink,
#sixteenth #leftmenu a#sixteenthLink{
	background: url(../images/bg_nav_h.png);
}
/* IE 6 hack to make entire button clickable */
* html #leftmenu a { height: 1px; }
/* ADVERTISING */
#adverts p {
	margin-bottom: 15px;
	text-align: center;
}
/* COPYRIGHT INFO */
#copyright {
	padding: 5px;
	border-top: 1px solid #000;
	background-color: #86B500;
	font-weight: bold;
	color: #000000;
}
#banner {
	position: relative;
}

/* fix IE 6: improperly positioning 
'subscribe' and 'about us' links in banner */
* html #banner {
	height: 1px;
}

#banner #badge {
	position: absolute;
	left: -18px;
	top: -18px;
}

#banner #logo {
	margin-left: 60px;
	position: relative; /* jumping logo fix for IE */
}

#banner ul {
	position: absolute;
	right: 60px;
	bottom: 5px;
}

#main .figure {
	float: right;
	width: 200px;
	margin-bottom: 2px;
	margin-left: 10px;
	position: relative;
}

#main .figure p {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 168px;
	background-color: #FFF;
	border: 1px dashed #666666;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin: 0;
}

#main .figure img {
	display: block;
}

#contentWrapper {
	position: relative;
	clear: both;
	width: 100%;
}

#sidebar {
	position: absolute;
	top: 43px;
	left: 0;
	width: 120px;
}

#chubbGeneral{
	position: absolute;
	top: 15px;
	left: 0;
	width: 120px;
}
#chubbGeneral li{
	list-style:none;
	
	background-color: #FFF;
	border: 1px solid #666666;
	font-size: 1.1em;
	font-weight: bold;
	/*text-align: center;*/
	padding: 5px 10px 5px 10px ;
	margin: 0;
}
#adverts {
	position: absolute;
	top: 1px;
	right: 0px;
}
#secondary{
	position: absolute;
	top: 1px;
	right: 0;
	width: 170px;
}

#main {
	margin-left: 120px;
	margin-right: 170px;
	padding: 0 10px 15px 10px;
	border: 1px solid #666666;
	border-top: none;
	border-bottom: none;
}

#daeriList
{
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 10px 15px 10px;
	border: 1px solid #666666;
	border-top: none;
	border-bottom: none;
}
#popUpMain {
	margin-left: 0px;
	margin-left: 0px;
	padding: 5px 10px 15px 10px;
	border: 1px solid #666666;
	border-top: none;
	border-bottom: none;
}
#serchPart{
	
	margin-bottom: 0;
	padding-bottom: 0;
}
#listPart{
	
	margin-top: 0;
	padding-top: 0;
}
#paging{
	margin-top:5pt;
	
	height: 15pt;

}
/******³¯ÀÚ***********/
#datelist{
	border: 1px dashed #666666;
	margin: 10px;
	padding: 0;
}

#datelist ul{
	list-style-type: none;
	margin: 0;
	padding-top: 10px;
}
/*
#datelist li{
	padding:0;
	margin: 0;
	display:inline;
}
#myTabl{
	margin: 0;
}
/******************************/
/*TABle À§Ä¡                   */
/******************************/
#subForm {
	font-size: 0.8em;
}
#subForm .label {
	float: left;
	clear: left;
	width: 230px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
}

input#subscribe {
	margin-left: 240px;
	background-color: #CBD893;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}

select#refer {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}

input#sigi, input#end, input#endorse_day, input#driver_name {
	width: 90px;
	background-color: #FBEF99;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: 1em;
	margin-top: 10px;
}
input#com_name {
	width: 180px;
	background-color: #FBEF99;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: 1.5em;
	margin-top: 10px;
}
/*select{
	background-color: #FBEF99;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: 1em;
	margin-top: 10px;
}*/
input#s_contents{
	width: 120px;
	background-color: #FBEF99;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: .9em;
	margin-top: 10px;

}
input:focus{
	background-color: #f5f5f5;
}
input#sigi:focus,
input#end:focus,
textarea#comments:focus,
select#refer:focus
{
	background-color: #FDD041;
}
.calendar{
	padding: 5px 0px 0px 0px;
}
.searchButton{
	margin: 3px 0px 0px 0px;
	}

/***********************************/
/*date¸®½ºÆ® ***********************/
/***********************************/


/*table °ü·Ã*********************'
*********************************/
#pop2_ table,
#pop_ table,
#daeriList table,
#SjPopUpMain table,
#newMain table,
#main table { 
	border-collapse: collapse;
	width: 100%;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}
#pop_ caption,
#daeriList caption,
#popUpMain caption,
#newMain caption,
#main caption {
	text-align: right;
	font-size: 1em;
}

#daeriList td,th,
#SjPopUpMain td,th,
#newMain td,th,
#main td,th {
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}
#SjPopUpMain th,
#newMain th,
#main th {
background: url(../images/th_bg.png) no-repeat left top;
	color: white;

	text-align: center;
	border-color: #14556b;
}
#popUpMain tr.alt td,
#newMain tr.alt td,
#main tr.alt td {
	background: url(../images/td_bg.png) no-repeat left top;
}
#pop2_ td{
	text-align: right;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}
#pop2_ th {
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}


/***************************************************************/
/* button ******************************************************/
/***************************************************************/
.input{
  border-bottom: #A1A9B5 1px solid; 
  border-left: #A1A9B5 1px solid; 
  border-right: #A1A9B5 1px solid; 
  border-top: #A1A9B5 1px solid; 
  font-family:µ¸¿ò,±¼¸²,arial,verdana; 
  font-size:9pt;
  height:16px
 }
.input2{
  border-bottom: #A1A9B5 1px solid; 
  border-left: #A1A9B5 1px solid; 
  border-right: #A1A9B5 1px solid; 
  border-top: #A1A9B5 1px solid; 
  font-family:µ¸¿ò,±¼¸²,arial,verdana; 
  font-size:8pt;
  height:15px;
  width:80%;
 }
 .input40{
  border-bottom: #A1A9B5 1px solid; 
  border-left: #A1A9B5 1px solid; 
  border-right: #A1A9B5 1px solid; 
  border-top: #A1A9B5 1px solid; 
  font-family:µ¸¿ò,±¼¸²,arial,verdana; 
  font-size:8pt;
  height:15px;
  width:96%;
  text-align: right;

 }
.input5{
	border: 1px solid #A1A9B5;
	padding: 2px 2px 2px 2px;
  font-family:µ¸¿ò,±¼¸²,arial,verdana; 
  background-color: #EEGGFF;
 }

.selectbox{
	border:1px solid #216072;		
	color: #EEGGFF;
	width:40px;
	font-size:8pt;
	}
.textare2{
	border: 1px none #B1D4F0; 
	width:100%;
	background-color:#FFFFFF;
	padding:0 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	}

/*table(main2)½ÇÀû °ü·Ã*********************'
*********************************/

#main2 table { 
	border-collapse: collapse;
	width: 100%;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}

#main2 caption {
	text-align: right;
	font-size: 1em;
}
#main2 th {
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}
#main2 td {
	text-align: right;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}
#main2 th {
background: url(../images/th_bg.png) no-repeat left top;
	color: white;
	/*text-align: center;*/
	border-color: #14556b;
}

#main2 tr.alt td {
	background: url(../images/td_bg.png) no-repeat left top;
}
.btn-b{background-color:#ffffff; color: ; border-bottom: #A1A9B5 1px solid; border-left: #A1A9B5 1px solid; border-right: #A1A9B5 1px solid; border-top: #A1A9B5 1px solid; font-family:µ¸¿ò,±¼¸²,arial,verdana; font-size:9pt;height:20px}

.text22{
	border: 1px none #FFFFFF; 
	width:10%;
	background-color:#EFFFFE;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.text33{
	border: 1px none #FFFFFF; 
	width:40%;
	background-color:#EFFFFE;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.text34{
	border: 1px none #FFFFFF; 
	width:40%;
	background-color:#EEEEEE;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.textareO{
	border: 1px none #f9f8f0; 
	width:96%;
	background-color:#f9f8f0;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: center;
	}
.textareP{
	border: 1px none #FFFFFF; 
	width:97%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: center;
	}
.textareP2{
	border: 1px none #FFFFFF; 
	width:97%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: left;
	}
.textareL{
	border: 1px none #FFFFFF; 
	width:97%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: left;
	}
.textareS{
	border: 1px none #FFFFFF; 
	width:70%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: center;
	}
.textare2{
	border: 1px none #FFFFFF; 
	width:20%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.textare3{
	border: 1px none #FFFFFF; 
	width:78%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}

#smSide {
	/*background-color: #cccccc;*/
	position: absolute;
	float: left;
	top: 20px;
	left:700px;
	width: 280px;
	
}


.po1{
	border: 1px none #FFFFFF; 
	width:50%;
	background-color:#ffffff;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.po2{
	border: 1px none #FFFFFF; 
	width:100%;
	background-color:#ffffff;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.po3{
	border: 1px none #FFFFFF; 
	width:25%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	/*text-align: center;*/
	}
.contentk{

	border: 1px none #FFFFFF; 
	width:97%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:200px;
	width:100%;
	text-align: left;


}

.contentj{

	border: 1px none #FFFFFF; 
	width:97%;
	background-color:#FFFFFF;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:20px;
	text-align: left;


}
 #layer_1{
   display:block;
   width:500px; 
   height:500px;
   background:#d7d7d7;
   border:1px dotted #FF0000;
}
#contents{height:650px; background:#00F;}
.layerBtn_1{display:inline-block; padding:5px; height:1%; border:1px dotted #ccc;}

#signlayerwrap1,
#signlayerwrap2,
#signlayerwrap3,
#signlayerwrap4,
#signlayerwrap5,
#signlayerwrap6,
#signlayerwrap7{
	clear:both;
	display:none; 
	position:absolute; 
	border: 1px solid #000000;
	background-color:#FFFFFF;
	/*background:url(../../dajoong/images/signback.png) no-repeat; */
	width:800px; 
	height:340px;  
	top:50px;
	left:50%; 
	
	margin-left:-253px;
	z-index:99999

}

#closeSet{
	position: absolute;
	top: 9px;
	right: 18px;


}
#popContent{
	position: absolute;
	top: 40px;
	left:20px;
	//background-color:#FFFFFF;
	color:#3F4662;
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:1em;
	//line-height:2pt;
	//text-align: center;
	padding:5px 10px 10px 5px;
	margin: 5px 5px 5px 5px;

}
.poptable  { 
	border-collapse: collapse;
	width: 96%;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}


.poptable th {
	text-align: center;*/
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 60px;
}
.poptable td {
	/*text-align: center;*/
	border: 1px solid #CCCCCC;
	padding: 5px 5px 2px 5px;
	font-size: 1em;
	height: 15px;
}

.osj-b{background-color:#e9f8c0; color: ; border-bottom: #A1A9B5 1px solid; border-left: #A1A9B5 1px solid; border-right: #A1A9B5 1px solid; border-top: #A1A9B5 1px solid; font-family:µ¸¿ò,±¼¸²,arial,verdana; font-size:9pt;height:20px}
#pop_
{
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 10px 15px 10px;
	
}


#pop_ td,th{
	text-align: center;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 2px 5px;
	font-size: 1em;
	height: 24px;
}

.check2{

	border: 1px none #FFFFFF; 
	width:10%;
	background-color:#FFFFFF;
	margin:5 0 0 0; 

}

.addressInput{
	border: 1px none #f9f8f0; 
	width:98%;
	background-color:#f9f8f0;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	
	}
.addressInput0{
	border: 1px none #ffffff; 
	width:98%;
	background-color:#ffffff;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	
	}
.handphoneInput{
	border: 1px none #f9f8f0; 
	width:98%;
	background-color:#f9f8f0;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align:center;
	}
.handphoneInput0{
	border: 1px none #ffffff; 
	width:98%;
	background-color:#ffffff;
	padding:2 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align:center;
	}
.selectbox2{

	width:40px;
	font-size:8pt;
	}
.certilength{
	width:20pt;

}

.phone{
	border: 1px none #FFFFFF; 
	width:60%;
	background-color:#FFFFFF;
	padding:1 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: right;
	}
.phone2{
	border: 1px none #FFFFFF; 
	width:60%;
	background-color:#FFFFFF;
	padding:1 0 0 0; 
	font-family:µ¸¿ò,±¼¸²,arial,verdana; 
	font-size:10pt;
	height:19px;
	text-align: center;
	}